<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hamilton.joel</string>
	<key>connections</key>
	<dict>
		<key>05EA362A-58A7-4BA9-BD91-0C0793000AA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5E713F5-3E81-4081-A7E8-5B3E3F6B3F53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C570050-B7C7-4119-A8AC-F77F2D65EB59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>87B57CC4-A2C7-41AC-A0AE-854A355F38D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>54B07570-D6FE-4CD1-9CA4-6A102179EA18</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1CE9D84B-9E08-4EE4-BF5E-D95E9BD7D99D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88A903A3-0B09-401F-AE84-44700E47F644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF27725E-5E54-46A4-9DED-E5D9CC73E191</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA8A1F34-888A-4070-86DD-2EBA3637EEEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88A903A3-0B09-401F-AE84-44700E47F644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5E713F5-3E81-4081-A7E8-5B3E3F6B3F53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88A903A3-0B09-401F-AE84-44700E47F644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5AD044F-3B5C-4087-BBB8-CB0E4B5D0D11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>57FBEBDD-4FA1-4330-A095-18FFC4CC31B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>97DD4BBB-CA20-4758-B3CE-41F57355238B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1C570050-B7C7-4119-A8AC-F77F2D65EB59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6749BEF-1089-4C40-AC60-C1CC86FF396B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA8A1F34-888A-4070-86DD-2EBA3637EEEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF27725E-5E54-46A4-9DED-E5D9CC73E191</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5AD044F-3B5C-4087-BBB8-CB0E4B5D0D11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joel Hamilton</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste or Open GitHub PR/Repo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[PR-{var:pr}](https://github.com/auth0/{var:repo}/pull/{var:pr})</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>57FBEBDD-4FA1-4330-A095-18FFC4CC31B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ghp</string>
				<key>subtext</key>
				<string>Paste a markdown link to the specified PR</string>
				<key>text</key>
				<string>GitHub PR Paste</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05EA362A-58A7-4BA9-BD91-0C0793000AA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>paste</string>
					<key>pr</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B5E713F5-3E81-4081-A7E8-5B3E3F6B3F53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"API2","arg":"api2"},{"title":"Manage","arg":"manage"},{"title":"Manhattan","arg":"manhattan","subtitle":""},{"title":"Server","arg":"auth0-server","subtitle":""},{"title":"ULP","arg":"universal-login-prompts"}]</string>
				<key>keyword</key>
				<string>repo</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Test subtext</string>
				<key>title</key>
				<string>Repository</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>88A903A3-0B09-401F-AE84-44700E47F644</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>paste</string>
						<key>outputlabel</key>
						<string>Paste</string>
						<key>uid</key>
						<string>97DD4BBB-CA20-4758-B3CE-41F57355238B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C5AD044F-3B5C-4087-BBB8-CB0E4B5D0D11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FF27725E-5E54-46A4-9DED-E5D9CC73E191</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/auth0/{var:repo}/pull/{var:pr}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>87B57CC4-A2C7-41AC-A0AE-854A355F38D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gho</string>
				<key>subtext</key>
				<string>Open the specified PR</string>
				<key>text</key>
				<string>GitHub PR Open</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C6749BEF-1089-4C40-AC60-C1CC86FF396B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>open</string>
					<key>pr</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AA8A1F34-888A-4070-86DD-2EBA3637EEEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pr}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\d+</string>
						<key>outputlabel</key>
						<string>Open PR</string>
						<key>uid</key>
						<string>54B07570-D6FE-4CD1-9CA4-6A102179EA18</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open Repo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1C570050-B7C7-4119-A8AC-F77F2D65EB59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/auth0/{var:repo}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1CE9D84B-9E08-4EE4-BF5E-D95E9BD7D99D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>05EA362A-58A7-4BA9-BD91-0C0793000AA2</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>1C570050-B7C7-4119-A8AC-F77F2D65EB59</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>1CE9D84B-9E08-4EE4-BF5E-D95E9BD7D99D</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>57FBEBDD-4FA1-4330-A095-18FFC4CC31B2</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>87B57CC4-A2C7-41AC-A0AE-854A355F38D5</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>88A903A3-0B09-401F-AE84-44700E47F644</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>AA8A1F34-888A-4070-86DD-2EBA3637EEEE</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>B5E713F5-3E81-4081-A7E8-5B3E3F6B3F53</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>C5AD044F-3B5C-4087-BBB8-CB0E4B5D0D11</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>C6749BEF-1089-4C40-AC60-C1CC86FF396B</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>FF27725E-5E54-46A4-9DED-E5D9CC73E191</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>~/Documents/Alfred/todos/</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
